@media (max-width: 400px) {

  ul.flex {
    display: none;
  }

  .chair-card {
    max-width: 100%;
    position: relative;
    padding: 0px;
    margin-left: 24px;
    margin-top: 40px;
  }

  .chair-img {
    display: none;
  }

  .chair-title {
    display: block;
    max-width: 340px;
    margin-bottom: 80px;
  }

  .content {
    padding-bottom: 600px;
  }

  .text-chair {
    display: block;
    max-width: 340px;
    margin-bottom: 100px;
  }

  .btn-chair {
    position: absolute;
    margin-bottom: 0px;
    left: 80px;
    top: 380px;
    display: block;
    max-width: 340px;
    text-align: center;
  }

  .brand-cards {
    align-items: center;
    margin: 48px 24px 45px 24px;
    display: inline-block;
    max-width: 100%;
  }

  .brand-card {
    margin-bottom: 36px;
  }

  .brand-title {
    max-width: 274px;
    text-align: left;
    margin-left: 24px;
    margin-bottom: 0px;
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }

  brand-card_title {
    color: var(--Dark-Primary, #2A254B);
    font-weight: 400;
    line-height: 140%;
  }

  .brand-text {
    width: 325px;
    color: var(--Dark-Primary, #2A254B);
    font-weight: 400;
    line-height: 150%;
  }

  .ceramics-main-title {
    margin-left: 24px;
    margin-top: 40px;
    width: 315px;
  }

  .ceramics-title {
    width: 150px;
  }

  .ceramics-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 24px;
  }

  .ceramics-img {
    width: 155px;
    height: 200px;
  }

  .ceramics-text {
    margin-bottom: 20px;
  }

  .ceramics-btn {
    width: 342px;
  }

  .products-title {
    margin-left: 24px;
  }

  .products {
    display: none;
  }

  .join-title {
    margin-left: 24px;
    width: 315px;
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }

  .join-text {
    margin-left: 24px;
    width: 315px;
    color: var(--Dark-Primary, #2A254B);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }

  .ceramics-btn {
    margin-bottom: 70px;
    margin-left: 24px;
    width: 310px;
  }

  .join-form {
    display: flex;
    width: 315px;
    background-color: red;
    background: var(--Light-Grey, #F9F9F9);
    margin-left: 24px;
  }

  .studio-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .studio-title {
    width: 274px;
    color: #2A254B;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin-left: 24px;
  }

  .studio-text {
    margin-left: 24px;
    width: 315px;
    display: block;
    color: #505977;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    align-items: center;
  }

  .studio-btn {
    margin: 0 auto;
    display: block;
    margin-top: 64px;
    margin-bottom: 38px;
  }

  .studio-img {
    display: none;
  }

  .footer-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer-card {
    margin-left: 25px;
  }

  .link-footer {
    display: block;
    text-align: center;
  }

  .footer-link {
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 125px;
  }

  .footer-card-img {
    display: none;
  }

  .footer-title-media {
    margin-left: 24px;
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  .footer-form-media {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.15);
    align-items: center;
    max-width: 310px;
    margin: 0 auto;
  }

  .search-form-media {
    background: none;
    border: none;
    margin-left: 24px;
  }

  .search-btn-media::placeholder {
    color: #FFF;
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
  }

  .search-btn-media {
    background: var(--White, #FFF);
    padding: 16px 32px;
    border: none;
  }

  .footer-card-media {
    margin-bottom: 16px;
    visibility: visible;
  }

  .studio-btn {
    width: 310px;
    margin-left: 24px;
  }
}